snippet nbs
	&nbsp;
endsnippet

snippet html
<!DOCTYPE html>
<html>
  <head>
    <title>${1}</title>
  </head>
  <body>
    ${0}
  </body>
</html>
endsnippet

snippet // "Comment"
<!-- ${1:${VISUAL}} -->${0}
endsnippet

snippet doct5
<!DOCTYPE HTML>
endsnippet

snippet attr
	${1:attribute}="${0:property}"
endsnippet

snippet .
	class="${1}"
endsnippet

snippet link
<link rel="stylesheet" type="text/css" href="${1}">${0}
endsnippet
