#!/usr/bin/env bash

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"
alias gittop="git log --pretty=format: --name-only | sort | uniq -c | sort -rg | head -20"

# Shortcuts
alias d="cd ~/Dropbox"
alias dw="cd ~/Downloads"
alias dk="cd ~/Desktop"
alias dm="cd ~/Documents"
alias w="cd ~/work"

alias vimu="vim -p \$(git status --porcelain | grep UU | awk '{print \$2}')"
alias vimd="vim -p \$(git status --porcelain | awk '{print \$2}')"
alias wifi="security find-generic-password -wga "
alias mux="tmuxinator"
alias dc="docker compose"
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
alias csvtojson="python3 -c 'import csv, json, sys; print(json.dumps([dict(r) for r in csv.DictReader(sys.stdin)]))'"
